Package: knxd
Version: 0.10.0-1
Architecture: armhf
Maintainer: Timo <knxd@timo-wingender.de>
Installed-Size: 469
Depends: libc6 (>= 2.13-28), libgcc1 (>= 1:4.1.1), libpthsem20, libstdc++6 (>= 4.1.1), libusb-1.0-0 (>= 2:1.0.8)
Section: net
Priority: optional
Homepage: https://github.com/Makki1/knxd
Description: knxd is a daemon to access a KNX bus
 knxd is a fork of eibd from bcusdk.
 This Package contains the daemon to access the bus.
